<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-4" style="margin-top: 150px;">
      <div class="account-box">
        <div class="logo">
          <h3>Sign In</h3>
        </div>
        <form class="form" name="userForm" novalidate autocomplete="off"
              #formRef="ngForm" (submit)="signIn(formRef.value)">

          <div class="content" ngModelGroup="credentials">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="email" required autofocus
                     name="username" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="password" name="password"
                     placeholder="Password">
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="checkbox">
                  <label>
                    <input id="login-remember" type="checkbox" name="remember" value="1"> Keep me signed in
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-lg btn-block purple-bg" type="submit">
              Sign in
            </button>
          </div>
        </form>
        <a class="forgotLnk" href="#">I can't access my account</a>
        <div class="or-box">
          <span class="or">OR</span>
          <div class="row">
            <div class="col-md-6 row-block">
              <a href="#" class="btn btn-facebook btn-block">Facebook</a>
            </div>
            <div class="col-md-6 row-block">
              <a href="#" class="btn btn-google btn-block">Google</a>
            </div>
          </div>
        </div>
        <div class="or-box row-block">
          <div class="row">
            <div class="col-md-12 row-block">
              <a href="#" class="btn btn-primary btn-block">Create New Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
