<div class="signup-page">

  <div class="wrapper">
    <div class="header header-filter"
         style="background-image: url('../assets/images/bg2.jpeg'); background-size: cover; background-position: top center;">
      <div class="container">
        <!--<div class="alert alert-info">-->
          <!--<div class="container-fluid">-->
            <!--<div class="alert-icon">-->
              <!--<i class="material-icons">info_outline</i>-->
            <!--</div>-->
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
              <!--<span aria-hidden="true"><i class="material-icons">clear</i></span>-->
            <!--</button>-->
            <!--<b>Info alert:</b> You've got some friends nearby, stop looking at your phone and find them...-->
          <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form id="loginform" class="form" name="userForm" novalidate autocomplete="off"
                    #formRef="ngForm" (submit)="signIn(formRef.value)">
                <div class="header header-primary text-center">
                  <h4>Sign In</h4>
                  <div class="social-line">
                    <a href="#face" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-simple btn-just-icon">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="content" ngModelGroup="credentials">
                  <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-group label-floating is-empty">
                      <label class="control-label">Username or email</label>
                      <input type="text" class="form-control" [(ngModel)]="email" required
                             name="username">
                      <span class="material-input"></span></div>
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="material-icons">lock_outline</i>
                      </span>
                    <div class="form-group label-floating is-empty">
                      <label class="control-label">Password</label>
                      <input type="password" class="form-control" [(ngModel)]="password" name="password">
                      <span class="material-input"></span></div>
                  </div>
                  <div class="input-group">
                    <div class="checkbox">
                      <label>
                        <input id="login-remember" type="checkbox" name="remember"
                               [(ngModel)]="remember_me" value="1" checked="checked">
                        Remember me
                      </label>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <!--<a href="#pablo" class="btn btn-primary btn-sm">Login</a>-->
                  <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-sign-in"></i> Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
